

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F5F5F5; /* Light Gray background */
    color: #333; /* Dark text color */
}

.fixed-header {
    background-color: #967BB6; /* Lavender color for the header */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation links color */
nav ul li a {
    text-decoration: none;
    color: #fff; /* White color for navigation links */
}

/* Main content container */
.container {
    padding: 20px;
}

/* Row and column layout */
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    margin: 0 10px;
}

/* Gallery button style */
.gallery-button {
    background-color: #967BB6; /* Lavender color for the button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #967BB6; /* Lavender color for the footer */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.footer-links i {
    margin-right: 5px;
}

